
<div class="container mt-4">


    <% if @cocktail.photo.attached? %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photos.key, height: 300, width: 400, crop: :fill %>')">
    <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?kyte,<%=@cocktail.name%>)">
    <% end %>
    <%= @cocktail.name %>
      </div>

  <% @cocktail.doses.each do |d| %>
    <div class="card-product">
      <%= image_tag "https://source.unsplash.com/featured/300X1200/?cocktail,#{d.ingredient.name}", height: 300, width: 400, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= d.ingredient.name %></h2>
          <p> <%= d.description %> </p>
        </div>
    </div>
  <% end %>


  <div class='countainer'>
    <h3>new ingredient ?</h3>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient, collection: Ingredient.all, default: 'ingredient', label: false, include_blank:'select an ingredient' %>
      <%= f.input :description , placeholder: 'Description', label: false %>
      <%= f.submit 'submit', class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>


