



<div class="container mt-4">
  <div class="card">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= cl_image_tag "https://source.unsplash.com/featured/300X1200/?cocktail,#{@cocktail.name}", height: 300, width: 400, crop: :fill %>
    <% end %>

  <h4 class="m-2" ><%= @cocktail.name %></h4>

        <% @cocktail.doses.each do |d| %>
          <% d.ingredient.name %>
          <% d.description %>
        <% end %>

  </div>

  <div>
    <h6>new ingredient ?</h6>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient, collection: Ingredient.all, default: 'ingredient', label: false %>
      <%= f.input :description , placeholder: 'Description', label: false %>
      <%= f.submit 'submit', class: 'btn btn-primary' %>
    <% end %>
  </div>

</div>

